// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=33v0V0kqh++eE+GkN+Yxh+VVlZA */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #3AB1FF;	// Main Primary color */
$color-primary-1: #91D3FE;
$color-primary-2: #63C2FF;
$color-primary-3: #0EA0FF;
$color-primary-4: #0399FB;

$color-secondary-1-0: #FF2E6D;	// Main Secondary color (1) */
$color-secondary-1-1: #FF8AAD;
$color-secondary-1-2: #FF598B;
$color-secondary-1-3: #FF004D;
$color-secondary-1-4: #FE004D;

$color-secondary-2-0: #FFE72E;	// Main Secondary color (2) */
$color-secondary-2-1: #FFF28A;
$color-secondary-2-2: #FFEC59;
$color-secondary-2-3: #FFE200;
$color-secondary-2-4: #FFE200;

